/* Contenedor global de la app */

.layout {
  background: #EDF1F5;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
}

.button-1 {
  background-color: #1A2B4C;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-1:hover {
  background-color: #0073ff;
}

.button-2 {
  background-color: #DFE3E7;
  color: #1A2B4C;
  border-style: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-2:hover{
  background-color: #adc8e5;
}


/* Pantalla de carga / Validacion de auth / Esperando respuesta de servidor */

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Estilos del header, se comparte en todas las paginas */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFE3E7;
  box-shadow: 0 0 3px 0.1px #00000054;
  color: #2A2F45;
  width: 100%;
  height: 6dvh;
}

.header img {
  height: 40px;
  width: 130px;
}

.section--header-not-logged {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 6dvh;
  padding: 0 2rem;
}

.section--header-not-logged p {
  font-size: 1.5rem;
}

.section--header-logged {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

.section--header-logged p {
  font-weight: bold;
  font-size: 1.2rem;
  color: #001C38;
}


/* Estilos del Bar general */

.medico-bar {
  background-color: #FFFF;
  color: #000000;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.219);
  height: 6dvh;
}

.medico-bar h2 {
  display: none;
}

.medico-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0rem 4rem;
  gap: 3rem;
  margin: 0;
}

.medico-bar li {
  width: 20%;
}

.bar-link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1.2rem 0;
  color: #64748b;
  font-size: 1rem;
}

.bar-link:hover {
  box-shadow: inset 0 3px 0 #21A293;
  outline: none;
  border-radius: 5px;
}

.bar-link:visited {
  color: rgb(7, 1, 1);
}

/* Estilos del Dashboard */

.section--public-dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: left;
  min-height: 90dvh;
  padding: 1.5rem;
  background: linear-gradient(135deg, #06213dd7, #000000d5), url('https://res.cloudinary.com/dj7fmczq9/image/upload/f_auto,q_auto/backgroundRoweWorks_dmlaau');
  background-size: cover;      /* cubre todo el contenedor */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
}

.section--public-dashboard-title {
  color: #EDF1F5;
  font-size: 30px;
}

.section--public-dashboard-p {
  color: #DFE3E7;
}

.section--public-dashboard button {
  width: 60%;
  padding: 1rem;
}

.section--public-dashboard-features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:3rem 1rem;
}

.section--public-dashboard-card1 {
  border-left: 6px solid #1A2B4C;
}

.section--public-dashboard-card2 {
  border-left: 6px solid #4A90E2;
}

.section--public-dashboard-card3 {
  border-left: 6px solid #008679;
}

.section--public-cta {
  color: white;
  background-color: #0F3155;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding:3rem 1rem;
  min-height: 40dvh;
}

.section--public-cta a {
  color: white;
}

.section--public-cta nav {
  display: flex;
  gap: 0.5rem;
}

.section--public-cta-button-1 {
  background-color: #4EB4F4;
  color: #0F3155;
}

.section--public-cta-button-2 {
  background-color: transparent;
  border: 1px solid #b4b1b1;
  color: white;
}

  /* Estilos del Dashboard del admin */

.admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

/* Estilos del DashBoard del Medico */
.medico-dashboard {
  display: flex;
  flex-direction: column;
  height: 94dvh;
  justify-content: space-between;
}

.medico-content  {
  max-width: 100%;
  height: 88dvh;
  overflow-y: auto; 
}

/* Estilos del Home general */

.section--medico-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  border-radius: 15px;
  gap: 1rem;
}



.section--medico-home-header {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 1px 1px rgba(153, 152, 152, 0.06);
  width: 100%;
  border-left: 4px solid #008679;
}



.section--medico-home-alert {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.section--medico-home-alert-count {
  color: #001C38;
}

.section--medico-home-alert h2 {
  font-size: 25px;
}

.section--medico-home-alert p, h2 {
  margin: 0;
}

.section--medico-home-next {
  display: flex;
  flex-direction: column;
  align-items:start;
  background-color: #EDF1F5;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  font-size: medium;
  gap: 0.5rem;
}

.section--medico-home-next div {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
}

.section--medico-home-next-title {
  color: #48BDAE;
}

.section--medico-home-next-hour {
  font-weight: bold;
  font-size: large;
}

.section--medico-home-next p {
  margin: 0;
}

.section--medico-home-notifications {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section--medico-home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8FAFC;
  border-radius: 10px;
  width: 30%;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  font-size: 15px;
  color: #5A5F62;
}

.section--medico-home-cards p, h3 {
  padding: 0;
  margin: 0;
}

.section--medico-home-cards-count-confirmadas {
  font-weight: 1000;
  font-size: 20px;
  color: #008679;
}

.section--medico-home-cards-count-vencidas {
  font-weight: 1000;
  font-size: 20px;
  color: #95a5a6;
}

.section--medico-home-cards-count-canceladas {
  font-weight: 1000;
  font-size: 20px;
  color: #e74c3c;
}

.section--medico-schedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  border-radius: 10px;
}

.section--medico-schedule h2 {
  margin: 0;
}

.section--medico-schedule ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}

.section--medico-schedule-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
  list-style: none;
  padding: 1rem;
  border-radius: 10px;
  border-left: 4px solid #4A90E2;
  border-left: 4px solid #008679;
}

.section--medico-schedule-card-data {
  display: flex;
  font-size: medium;
}

.section--medico-schedule-card-data p {
  padding: 0 1rem;
}

.section--medico-schedule-card-data p:first-child {
  border-right: 1px solid #8d9195c2;
  font-weight: bold;
}

.section--medico-home-news {
  display: flex;
  justify-content: center;
  background-color: #008679;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
}
/* Estilos de detalle de cita */

.detalle-cita {
    background-color: #ffffff;
    min-width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

/* Estilos de la lista de citas */

.section--medico-lista {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.section--medico-lista-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 0;
  gap: 1rem;
  color: #2A2F45;
  border-radius: 10px;
}

.section--medico-lista-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
}

.medico-lista-citas {
  display: grid;
  overflow-y: auto;
  max-height: 65dvh;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

/* Estilos de los filtros */

.section--medico-lista-filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.filtros-estado {
  display: flex;
  justify-content: space-between;
}

.filtros-dia {
  display: flex;
  justify-content: space-between;
}

.filtro-btn-dia {
  padding: 1rem;
  border-radius: 999px; 
  border: 1.5px solid #cbd5e1;
  background: transparent;
  color: #64748b;
  font-size: 11px;
  cursor: pointer;
  font-weight: 500;
}

.filtro-btn-dia.activo {
  background: #001C38;
  border-style: none;
  color: #fff;
}

.filtro-btn-estado {
  padding: 1rem;
  border-radius: 999px; 
  border: 1.5px solid #cbd5e1;
  background: transparent;
  color: #64748b;
  font-size: 11px;
  cursor: pointer;
  font-weight: 500;
}

.filtro-btn-estado.activo {
  border-color: #4EB4F4;
  color: #4EB4F4;
}


/* Estilos de la creacion de citas */

.section--crear-cita {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem;
}

.section--crear-cita-header {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: medium;
  margin-top: 2rem;
  gap: 1rem;
}

.section--crear-cita-header h1, h2, p {
  margin: 0;
}

.section--crear-cita-header h1 {
  color: #2A486D;
}

.section--crear-cita-status {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  border-left: 4px solid #4A90E2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  color: #73787B;
  font-weight: 500;
}

.section--crear-cita-status div {
  display: flex;
  justify-content: space-between;
}

.section--crear-cita-status p:first-child {
  font-weight: 700;
}

.section--crear-cita-status-initial {
  padding: 0.3rem 1rem;
  border-radius: 15px;
  font-weight: bold;
  color: #008679;
  border: 1px solid #008679;
}

.section--crear-cita-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.section--crear-cita-card form {
  display: flex;
  flex-direction: column;
}

.section--crear-cita-info {
  display: flex;
  flex-direction: column;
}

.section--crear-cita-info div {
  display: flex;
  flex-direction: column;
  align-items:stretch  ;
  justify-content: center;
  border-radius: 10px;
  gap: 0.5rem;
  margin-top: 1rem;
}


.section--crear-cita-info p {
  margin: 0;
}

.section--crear-cita-info input {
  border: none;
  background-color: #DFE3E7;
  padding:1.5rem 1rem;
  border-radius: 5px;
}

.section--crear-cita-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.section--crear-cita-footer button {
    border-radius: 5px;
}

/* Estilos de las citas */

.cita-card {
  background-color: #ffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 1rem;
  border-radius: 10px;
  width: 100%;
}

.cita-card p {
  margin: 0;
  font-weight: 500;
}

.cita-card.confirmada {
  border-left: 4px solid #008679;
}

.cita-card.confirmada span {
  font-weight: 600;
  color: #008679;
  border: 1px solid #008679;
  border-radius: 10px;
  padding: 0.3rem;
}

.cita-card.cancelada {
  border-left: 4px solid #e74c3c;
}

.cita-card.cancelada span {
  font-weight: 600;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  padding: 0.3rem;
}

.cita-card.vencida {
  border-left: 4px solid #95a5a6;
}

.cita-card.vencida span {
  font-weight: 600;
  color: #95a5a6;
  border: 1px solid #95a5a6;
  border-radius: 10px;
  padding: 0.3rem;
}

.cita-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.cita-info-title {
  font-weight: 600;
  font-size: 20px;
  color: #2A486D;
}

.cita-info-subtitle {
  color:  #889697;
}

.cita-card-button-1 {
  color: #2A486D;
}

.cita-card-button-2 {
  color: #4EB4F4;
}

.cita-card-button-3 {
  color: #e74c3c;
}

.cita-card-header {
  display: flex;
  justify-content: space-between;
}

.section--medico-lista-buttons {
  display: flex;
  justify-content: space-between;
}

.section--medico-lista-buttons button {
  border-radius: 5px;
  border-style: none;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  background-color: #EDF1F5;
}

/* Estilos de la actualizacion de citas */

.section--actualizar-cita {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem;
}

.section--actualizar-cita-header {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: medium;
  margin-top: 2rem;
  gap: 1rem;
}

.section--actualizar-cita header h1, h2, p {
  margin: 0;
}

.section--actualizar-cita-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.section--actualizar-cita-card form {
  display: flex;
  flex-direction: column;
}

.section--actualizar-cita-info {
  display: flex;
  flex-direction: column;
}

.section--actualizar-cita-info div {
  display: flex;
  flex-direction: column;
  align-items:stretch  ;
  justify-content: center;
  border-radius: 10px;
  gap: 0.5rem;
  margin-top: 1rem;
}

.section--actualizar-cita-info span {
  display: flex;
  justify-content: space-between;
}

.section--actualizar-cita-info p {
  margin: 0;
}

.section--actualizar-cita-info input {
  border: none;
  background-color: #DFE3E7;
  padding:1.5rem 1rem;
  border-radius: 5px;
}

.section--actualizar-cita-info select {
  border: none;
  background-color: #DFE3E7;
  padding:1.5rem 1rem;
  border-radius: 5px;
}

.section--actualizar-cita-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.section--actualizar-cita-footer button {
    border-radius: 5px;
}

/* Estilos del detalle de citas */
.section--detalle-cita-info {
  border: none;
  background-color: #DFE3E7;
  padding:1.5rem 1rem;
  border-radius: 5px;
}



/* Estilos del Footer se comparte en todas las paginas */

.footer {
  display: none;
}

/* Estilos del Modal de confirmacion de borrado */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(27, 7, 7, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 280px;
  text-align: center;
  justify-content: space-around;
}

/* Estilos 404 */

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 10rem 0rem;
}

.not-found iframe {
  width: 300px;
  height: 170px;
  box-shadow: 0 0 50px #000000;
  border-radius: 12px;
}

.not-found iframe:hover {
  box-shadow: 
    0 0 10px rgba(91, 141, 239, 0.3),
    0 0 25px rgba(91, 141, 239, 0.2);
}

/*Estilos del login */

.modal-login {
  align-items: center;
  gap: 1rem;
}

.modal-login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.modal-login-form input {
  border: none;
  background-color: #DFE3E7;
  padding:1.5rem 1rem;
  border-radius: 5px;

}



/* Estilos para pantallas medianas y grandes */

@media (min-width: 768px){

  /*  Contenedor global de la app */

  .layout {
    display: grid;
    max-height: 100dvh;
    width: 100dvw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
      "header"
      "viewport";
  }

  .layout {
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-areas: 
      "header"
      "viewport"
      "footer";
  }

  /* Estilos del boton para pagina de tutoriales */

  .btn-tutorial {
    display: block;
  }
  

  /* Estilos del header, se comparte en todas las paginas */

  .header {
    grid-area: header;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header nav {
    gap: 2rem;
  }

  /* Estilos del Bar general */

  .medico-bar {
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid black;
  }

  .medico-bar h2 {
    display: block;
  }

  .medico-bar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 9rem;
  }

  .public-dashboard {
    grid-area: viewport;
  }
  /* Estilos del Dashboard del admin */

  /* Estilos del DashBoard del Medico */

.medico-dashboard {
  grid-area: viewport;
  display: grid;
  height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;
  grid-template-areas: 
  "citas"
  "bottom-bar";
}


  .medico-content  {
    grid-area: citas;
  }

  .medico-dashboard button {
    padding: 10px 16px;
  }

  .medico-dashboard button:active {
    background: #5a4e45;
  }

   /* Estilos del Home general */

  .medico-home {

  }

 /* Estilos de detalle de cita */
  
   .detalle-cita {
    padding: 9rem;
  }

  /* Estilos de la lista de citas */

  .medico-lista {
    border-radius: 15px;
  }

  .medico-lista header {
    border-bottom: 1px solid black;
    border-radius: 15px 15px 0 0;
  }

  .medico-lista header section {
    gap: 5rem;
  }

  .medico-lista-citas {
    max-height: 64dvh;
  }

  /* Estilos de la creacion de citas */

  .crear-cita {
    padding: 12rem 15rem;
    border-radius: 15px;
  }

  .crear-cita section {
    padding: 1rem 2rem;
  }

  /* Estilos del Modal de confirmacion de borrado */

  .modal {
    padding: 4rem;
    min-width: 400px;
    min-height: 300px;
  }

  .modal button{
    padding: 0.5rem 1rem;
  }

  /* Estilos del Footer se comparte en todas las paginas */

  .footer {
    display: block;
    font-size: small;
    grid-area: footer;
    background-color: #2d2e2c;
    color: white;
    font-style: none;
  }

  .footer nav {
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .footer a {
    display: block;
    text-decoration: none;
    box-shadow: 0 0 15px #000000;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(47, 179, 212);
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
  } 

  .footer a:hover {
    display: block;
    text-decoration: none;
    box-shadow: 0 0 15px #ffffff;
  } 

  /* Estilos 404 */

  .not-found {
    padding: 0;
  }

  .not-found iframe {
    width: 900px;
    height: 510px;
  }
}