*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #1e293b;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* base — móvil */
html {
  font-size: 14px;
}

/* desktop */
@media (min-width: 768px) {
  html {
    font-size: 16px; 
  }
}